<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOW -- CDN</title>

    <link rel="stylesheet" href="/raw/style.css">

</head>
<body>
    <h2 class="glitch" data-text="There's nothing here">There's nothing here</h2>
</body>
</html>