<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>___ — CDN</title>

    <link rel="stylesheet" href="/raw/style.css">

    <meta name="language" content="English">
    <meta name="author" content="tascord">
    <meta name="theme-color" content="#000000">
    <meta property="og:site_name" content="cdn.tascord.ai">
    <meta property="og:url" content="https://cdn.tascord.ai/">
    <meta property="og:title" content="Viewing '___'.">
    <meta property="og:description" content="Ẁ̘̪̪͊̈̊̚̚hat̏́̇̏ ar̆e̖̊ ͒ ÿ̇̊oü l̎̇̉o̾o̽k̍̃̚în͚͇ǵ̏ ̪f͚̮͌̊or?">

</head>
<body>
    
    <h2 class="glitch" data-text="What are you looking for?">What are you looking for?</h2>

</body>
</html>