<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 -- CDN</title>

    <link rel="stylesheet" href="/raw/style.css">

</head>
<body>
    
    <h2 class="glitch" data-text="What are you looking for?">What are you looking for?</h2>

</body>
</html>