<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload — CDN</title>

    <link rel="stylesheet" href="/raw/style.css">

    <meta name="language" content="English">
    <meta name="author" content="tascord">
    <meta name="theme-color" content="#000000">
    <meta property="og:site_name" content="cdn.tascord.ai">
    <meta property="og:url" content="https://cdn.tascord.ai/upload">
    <meta property="og:title" content="Uploading '?̸̀?̷̨̕?̶̞͠''">
    <meta property="og:description" content="Upload files directly to the CDN.">
    
</head>
<body>
    
    <form action="up" method="POST" enctype="multipart/form-data" onsubmit="save_token()">
        
        <sub id="message" style="color: red;"></sub>
    
        <div>
            <sub>File</sub>
            <input type="file" name="file" required>
        </div>

        <div>
            <sub>Authentication</sub>
            <input type="text" name="token" autocomplete="off" id="token" required>
        </div>

        <button type="submit">Upload!</button>

    </form>

    <script>

        const get_URI_shard = (name) => {

            // Thanks past me
            // again
            // again

            let pattern = new RegExp(`(?:(?:&|\\?)${name}=((?:[a-z0-9])+)(?:$|&|))`, 'gi');
            let code = window.location.search.replace(pattern, '$1');
            return code == window.location.search ? null : decodeURIComponent(code);

        }

        const save_token = () => {

            localStorage.setItem('token', document.getElementById('token').value);

        }

        const message = document.getElementById('message');

        document.getElementById('token').value = localStorage.getItem('token') || '';
        if(get_URI_shard('error')) message.innerText = get_URI_shard('error');
        else if(get_URI_shard('code')) window.location.pathname = '/' + get_URI_shard('code');

    </script>

</body>
</html>